# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/deyg4117/dev-back.deyg4117.odns.fr"
PassengerBaseURI "/"
PassengerNodejs "/home/deyg4117/nodevenv/dev-back.deyg4117.odns.fr/10/bin/node"
PassengerAppType node
PassengerStartupFile index.js
PassengerAppLogFile "/home/deyg4117/logs/nodeapp.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END